body{
	font-family: arial, helvetica;
	background: slategrey;
	margin: 0;
	padding: 0;
}
#wrapper{
	border: 0px solid black;
	width: 1500px;
	margin: 0 auto;
	background: white;
}
#header{
	background: crimson;
	height: 100px;
	padding-top: 0;
	font-size: 18px;
}
#header h1{
	padding: 30px;
}
#menu{
	background: lightsalmon;
}
#menu ul{
	margin: 0;
	padding: 0;
}
#menu li{
	margin-left: 35px; 
	display: inline-block;
}
#menu li a{
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	color: black;
}
#menu li a:hover{
	color: white;
	transition: all 0.3s ease;
	background: crimson;
	text-decoration: underline;
}
#images{
	margin: 20px;
	background: white;
	width: 1250px;
	height: auto;
	float: left;
	border: 1px solid #000;
	box-sizing: border-box;	
}
#images img:hover{
	box-shadow: 10px 12px 12px #808080;
	transition:all 0.4556s  ease-out;
}
#images img{
	cursor: pointer;
	margin: 20px;
}
#sidebar{
	line-height:35px;
	list-style-image: url(r-arrow.png);
	background: lightblue;
	width: 200px;
	float: right;
	min-height: auto;
	color: #000;
}
#sidebar:hover{
	height: 500px; 
	transition: all 2s linease
}
#sidebar li a{
	text-decoration: none;
	color: black;
}
#footer{
	clear: both;
	background: orange;
	padding: 12px;
	text-align: center;
	font-size: 18px;
}
#footer u:hover{
	cursor: none;
	color: #fff;

}